@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.content {
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.6);

}

.left {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 420px;
    width: 320px;
    flex: 50%;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 420px;
    width: 320px;
    flex: 50%;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name {
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.temp_score {
    color: #c7365f;
    font-size: 4.5rem;
    margin-bottom: 5rem;
    margin-top: 10px;
}

.current {
    padding: 20px;
    height: 60px;
    width: 150px;
    position: relative;
    bottom: -20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    background-color: #c7365f;
    border-radius: 10px;
    align-items: center;
}

.current-label {
    margin-bottom: 15px;
}

.current-score {
    font-size: 2rem;
}

.btn {
    height: 50px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 0.7rem 2.5rem;
    color: #444;
    font-size: 15px;
}

.b_game {
    position: absolute;
    top: 19%;
    left: 45%;
    width: 100px;
    height: 25px;
}

.b_hold {
    position: absolute;
    bottom: 28%;
    left: 45.5%;
    width: 70px;
    height: 25px;
}

.b_roll {
    position: absolute;
    bottom: 38%;
    left: 43%;
    width: 150px;
    height: 25px;

}